.flexbox-container {
  display: flex;
  
}

.flexbox-item {
  width: 500px;
  margin: 10px;
  border: 3px solid #333;
  background-color: green;
}

.flexbox-item-1 {
  min-height: 100px;
}



h1 {
  color: rgb(235, 55, 43);
  text-align: center 90px;
  font-size: 60;
  font-family: monospace;
}


p {
  font-family: monospace;
  font-size: 20x;
}

